@font-face{
	font-family: ArialBlack;
	font-display: swap;
	src: url("../fonts/ArialBlack.woff2") format("woff2"), url("../fonts/ArialBlack.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: ArialBold;
	font-display: swap;
	src: url("../fonts/ArialBold.woff2") format("woff2"), url("../fonts/ArialBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: ArialRegular;
	font-display: swap;
	src: url("../fonts/ArialRegular.woff2") format("woff2"), url("../fonts/ArialRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Stem;
	font-display: swap;
	src: url("../fonts/Stem-Bold.woff2") format("woff2"), url("../fonts/Stem-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Stem;
	font-display: swap;
	src: url("../fonts/Stem-ExtraLight.woff2") format("woff2"), url("../fonts/Stem-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family: Stem;
	font-display: swap;
	src: url("../fonts/Stem-Medium.woff2") format("woff2"), url("../fonts/Stem-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: Stem;
	font-display: swap;
	src: url("../fonts/Stem-Light.woff2") format("woff2"), url("../fonts/Stem-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Stem;
	font-display: swap;
	src: url("../fonts/Stem-Regular.woff2") format("woff2"), url("../fonts/Stem-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Stem;
	font-display: swap;
	src: url("../fonts/Stem-SemiLight.woff2") format("woff2"), url("../fonts/Stem-SemiLight.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Stem;
	font-display: swap;
	src: url("../fonts/Stem-Thin.woff2") format("woff2"), url("../fonts/Stem-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
