$brightestColor: #fff; 
$brightColor: #FAFBFC; 

$lightBgColor: #FAFBFC;

// $darkColor: #181411;
// $darkestColor: #000;
$dangerColor: #DF0000;


$mainColor: #0047BB;
$darkMainColor:#082B64;
$lightMainColor: #EDF7FA;
$mainColorDisabled: #DCDCDC;


$neutralColor: #333333;
$neutralDarkColor: #444444;

$neutralLightColor: blue;

$checkImgURL: '../img/success-icon-check.svg';
$arrowImgURL: '../img/arrow-sprite.svg';
$crossImgURL: '../img/black-cross.svg';

$cloudLeftURL: '../img/cloud-left.svg';
$cloudRightURL: '../img/cloud-right.svg';
$cloudDoubleRightURL: '../img/cloud-double-right.svg';