<section class="form">
    <div class="container form__container">
        <div class="form__contact-box">
            
            @@include('./components/contact-box.html',{'id':'contact-box','title':'73 года c Вами!','text':'С теми, кто дорожит своими достижениями'})

            <div class="form__bg form__bg-one">
                
            </div>
            <div class="form__bg form__bg-two">
                
            </div>

            <div class="form__bg form__bg-three">
                
            </div>

            <div class="form__bg form__bg-four">
                
            </div>

            <div class="form__bg form__bg-five">
                
            </div>
        </div>
    </div>
</section>