<header class="header">
    <div class="container header__container">
        <a href="/" target="_blank" class="title header__logo-link">
            Ингосстрах
        </a>
    
        <div class="header__header-links">
            @@include('./header-link.html',{'href':'tel:88002002947','src':'@img/phone.svg', 'text':'8 800 200 29 47' })
            @@include('./header-link.html',{'href':'/','src':'@img/documents.svg', 'text':'Правила акции' })
        </div>
        
    </div>
    
</header>