<section class="info">
    <div class="container info__container">
        <div class="card">
            <div class="card__inner">
                <h2 class="title-second card__title">
                     Экспресс-КАСКО
                </h2>
                <div class="card__info">
                    
                    <ul class="card__list">
                        <span class="text-second card__list-title">
                            Доступно и просто:
                        </span>
                        <li class="text-second card__list-text">Выезд эксперта на место страхового случая;</li>
                        <li class="text-second card__list-text">Техническая помощь на дороге;</li>
                        <li class="text-second card__list-text">Страхование личных вещей в автомобиле.</li>
                    </ul>
                    <a href="" target="_blank" class="text-second card__link" >
                        Забронировать
                        <div class="card__link-img-inner">
                            
                        </div>
                    </a>
                </div>
                <div class="card__img-inner">
                    <img alt="" src="@img/info-express.png" class="card__img"/>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__inner">
                <h2 class="title-second card__title">
                    Страхование имущества
                </h2>
                <div class="card__info">
                    <ul class="card__list">
                        <span class="text-second card__list-title">
                            Наши преимущества:
                        </span>
                        <li class="text-second card__list-text">Страхование нетиповых рисков (например, повреждение имущества животными)​;</li>
                        <li class="text-second card__list-text">Бесплатная профессиональная оценка имущества, урегулированию убытков.</li>
                    </ul>
                    <a href="" target="_blank" class="text-second card__link" >
                        Забронировать
                        <div class="card__link-img-inner">
                            
                        </div>
                    </a>
                </div>
                <div class="card__img-inner">
                    <img alt="" src="@img/info-property.png" class="card__img"/>
                </div>
            </div>
        </div>
    </div>
</section>