<section class="main">
    <div class="container main__container">
        <div class="main__column main__info">
            <p class="text main__info-text">
                Получите
            </p>
            <h1 class="title main__info-title">
                73 дня <span class="text-nowrap">экспресс-каско</span> и страхования имущества
            </h1>
            <p class="text main__info-text">
                в честь нашего 73-летия!
            </p>
        </div>
        <div class="main__column main__img-inner">
            <img class="main__img" alt="" src="@img/main-img.png"/>
        </div>
    </div>
</section>